<!DOCTYPE html>
    <html lang="en">
    <!-- The page that evry other page is based off of, if this page changes every other page changes -->
    <head>
        <!-- General declaration and tab title -->
        <meta charset="UTF-8">
        <title>Maori Dictionary | {% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- Shows the links at the top if the page and the 'admin' page if they are an admin -->
        <nav>
            <div class="container">
                <div class="navbar-brand">Dictionary.</div>
                <div class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/dictionary/filter_by:1">Dictionary</a>
                    {% if logged_in %}
                        <a href="/logout">Logout</a>
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                    {% if adminbool == true %}
                        <a href="/admin">Admin</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <main>
        <!-- The main part which could be anything using jinja -->
            <header>
               <h1>{% block pageheading %} {% endblock %}</h1>
            </header>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>