{% extends 'base.html' %}

{% block page_title %}
Dictionary
{% endblock %}

{% block pageheading %}
Dictionary
{% endblock %}

{% block main %}
    <div class="Dictionary">
        {% for word in words %}
            <div class="Word-Box">
                <h3>Maori: {{ word[1] }}</h3>
                <h3>English: {{ word[2] }}</h3>
                <p>Definition: {{ word[3] }}</p>
                <p>Level: {{ word[4] }}</p>
                <p>Category: {{ word[5] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}