{% extends 'base.html' %}

{% block page_title %}
Dictionary
{% endblock %}

{% block pageheading %}
Dictionary
{% endblock %}

{% block main %}
    <div class="Dictionary">
        <h3>Sort: {{ categories[0][1]}}</h3>
        <div class = "Filter_Menu">
            <ul>
                {% for category in categories %}
                    <li><a href="/dictionary/filter_by:{{ category[0] }}">{{ category[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% for word in words %}
            <div class="Word-Box">
                <h2>Maori: {{ word[1] }}</h2>
                <h2>English: {{ word[2] }}</h2>
                <p>Definition: {{ word[3] }}</p>
                <p>Level: {{ word[4] }}</p>
                <p>Category: {{ word[5] }}</p>
                <p>Photo:</p>
                <img src = "/static/images/{{ word[6]}}.jpg" onerror="this.onerror=null; this.src='/static/images/noimage.png'" alt="{{word[6]}}">
            </div>
        {% endfor %}
    </div>
{% endblock %}